<!DOCTYPE html>
<html>
<head>
    <title>Sample website</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    
</head>
<body >

    <div class="form-group" ng-app="myApp" ng-controller="myCtrl">
    <div><input type="text" ng-model="name" class="form-control" placeholder="enter username"></div>
      <h1>Hello {{name}}</h1>
    <ul class="list-group"><li class="list-group-item" ng-repeat="x in qs">{{x.question}} <input type="text" class="form-control"></li> </ul>
    </div>
    <script>

        var app = angular.module("myApp", []);

        app.controller("myCtrl", function($scope,$http) {
                 $http.get("questions").then(function(response) {
                 $scope.qs = response.data;
            });
        });

    </script>
</body>
</html>